html, body {
  font-family: Arial, Helvetica, sans-serif;
}

.websy-bookmark {
  width: 40px;
  height: 40px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The popup form - hidden by default */
.bookmark-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the container */
.bookmark-container {
  width: 500px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
}
.bookmark-topline {
  display: flex;
  justify-content: space-between;
}
.bookmark-container .create-new {
  background-color: #ffffff;
  padding: 7px 2px;
  cursor: pointer;
  width: 31%;
  border: .5 solid rgb(0, 0, 0);
}

.bookmark-container .btn {
  background-color: #ffffff;
  color: rgb(255, 255, 255);
  padding: 16px 20px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: .8;
  border: .5 solid rgb(0, 0, 0);
}

/* Add a red background color to the cancel button */
.bookmark-container .cancel {
  background-color: rgb(188, 181, 181);
}

/* Add some hover effects to buttons */
.bookmark-container .btn:hover, .open-button:hover {
  opacity: 1;
}
